.nav{
  width: 100%;
  height: 6rem;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 10px 20px rgba(61, 61, 61, 0.2);
}


.nav .heading{
  font-size: 2.2rem;
  margin-left: 3rem;
  text-transform: uppercase;
  letter-spacing: .8rem;
  color: #2541b2;
  font-weight:700 ;
  text-shadow: 3px 3px 2px rgba(26, 111, 247, 0.5);
}

.nav a{
  margin-right: 5rem;
}

.nav .icon{
  font-size: 2.8rem;
  color: #000;
  
  border-radius: 50%;
  transition: .3s ease;
}

.nav .icon:hover{
  transform: scale(1.3);
  box-shadow:0 10px 15px rgba(0, 0, 0, 0.2);
  color: rgba(255, 255, 255, 0.73);
}